---
layout: default
---
<div class="home">
<p><em>Studio d'essai</em> is a one-hour podcast of electronic and experimental music spanning space and time – with a special interest in the Commons.

You can add our <a href="{{ "/podcast.xml" | prepend: site.baseurl }}">podcast feed</a> to your favourite podcatcher (try <a href="http://antennapod.org/">AntennaPod</a> for example).</p>
</br>
<p>You can get news about the latest episode by subscribing to our <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>.</p>
</br>
<p>You can also interact with us on decentralised networks:</p>
<ul>
  <li>Chat in our <a href="https://riot.im">Matrix</a> room: <a href="https://matrix.to/#/!PwcrnkGJzYdJNCESxa:matrix.org?via=matrix.org">#studiodessai:matrix.org</a></li>
  <li>Follow our posts on <a href="https://diasporafoundation.org/">Diaspora</a>: <a href="https://framasphere.org/people/546ac9303e2c013250ba2a0000053625">studiodessai@framasphere.org</a></li>
  <li>Toot with us on <a href="https://joinmastodon.org/">Mastodon</a>: <a href="https://framapiaf.org/@studiodessai">studiodessai@framapiaf.org</a></li>
</ul>
</br>
<p>Find all the playlists to date below, as well as some extra info and links, and the audio stream of recent shows. If the licenses of what we play are permissive enough, the show is available to download too. You can use free software to play the audio files (e.g. <a href="https://www.videolan.org/vlc/">VLC media
player</a> or <a href="http://www.clementine-player.org/">Clementine</a>).</p>
</br>
<h1><b>Past episodes</b></h1>
<ul class="posts">
{% for post in site.posts %}
<li>
<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
