<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>
	  <a href="mailto:{{ site.email }}">
	    <span class="icon  email-icon-svg">
	      <svg viewBox="0 0 16 16">
		<path fill="#828282" d="M14.5 2h-13c-0.825 0-1.5 0.675-1.5 1.5v10c0 0.825 0.675 1.5 1.5 1.5h13c0.825 0 1.5-0.675 1.5-1.5v-10c0-0.825-0.675-1.5-1.5-1.5zM6.23 8.6l-4.23 3.295v-7.838l4.23 4.543zM2.756 4h10.488l-5.244 3.938-5.244-3.938zM6.395 8.777l1.605 1.723 1.605-1.723 3.29 4.223h-9.79l3.29-4.223zM9.77 8.6l4.23-4.543v7.838l-4.23-3.295z"/>
	      </svg>
	    </span>
	    <span class="text">{{ site.email }}</span>
	  </a>
	</li>
        <li>
	  <a href="https://gitlab.com/studio-dessai">
	    <span class="icon  fork-icon-svg">
	      <svg viewBox="0 0 16 16">
		<path fill="#828282" d="M9 11.268a2 2 0 1 1-2 0V8.874A4.002 4.002 0 0 1 4 5v-.268a2 2 0 1 1 2 0V5a2 2 0 1 0 4 0v-.268a2 2 0 1 1 2 0V5a4.002 4.002 0 0 1-3 3.874v2.394zM11 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM5 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
	      </svg>
	    </span>
	    <span class="text">fork, suggest, report</span>
	  </a>
	</li>
      </ul>
    </div>

    <div class="footer-col-2 column">
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
